<!DOCTYPE html>
<html lang="pt_br"> <!-- lang é um atributo -->
<head>
    <meta charset="UTF-8"> <!-- UTF-8 é um tipo de codificação binária, que representa qualquer caracter universal no padrão unicode. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Configura o documento para telas maiores e menores. -->
    <title>Proffy | Sua plataforma de estudos online</title> <!-- Altera o título na aba do navegador. -->

    <link rel="shortcut icon" href="images/favicon.png" type="image/png">

    <link rel="stylesheet" href="/styles/main.css"> <!-- Faz o link de uma relação de folha de estilo (rel) no caminho especificado (href)-->
    <link rel="stylesheet" href="/styles/partials/page-sucess.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet"> <!-- Tipo de fonte importada do Google Fonts-->

</head>
<body id="page-sucess">

    <div id="container">
        
        <img class="check-icon" src="images/icons/success-check-icon.svg" alt="Check">

        <div class="info-container">
            <h1>Cadastro salvo!</h1>
            <p>Tudo certo, seu cadastro está na nossa lista de professores.<br>Agora é so ficar de olho no seu Whatsapp</p>

            <a href="/study{{queryString}}">Acessar lista</a>
        </div>
    </div>

</body>
</html>